.container {
    display: grid;
    grid-template-columns: 1.4fr 0.5fr 1.1fr;
    grid-template-rows: 0.3fr 1.4fr 1.6fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header"
        "hero-top-left hero-right-bottom hero-right-bottom"
        "main-content-block main-content-block main-content-block"
        "footer-block footer-block footer-block";
    border: 0.5rem;
    border-color: deeppink;
    border-style: dashed;
}

.header {
    grid-area: header;
}

.hero-right-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        ". hero-character ."
        ". hero-character .";
    grid-area: hero-right-bottom;
}

.hero-character {
    grid-area: hero-character;
}

.main-content-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "content-top-left content-middle-center content-right-bottom"
        "content-top-left content-middle-center content-right-bottom"
        "content-top-left content-middle-center content-right-bottom";
    grid-area: main-content-block;
}

.content-top-left {
    grid-area: content-top-left;
}

.content-middle-center {
    grid-area: content-middle-center;
}

.content-right-bottom {
    grid-area: content-right-bottom;
}

.footer-block {
    grid-area: footer-block;
}

.hero-top-left {
    display: grid;
    grid-template-columns: 0.5fr 2.1fr 0.4fr;
    grid-template-rows: 0.6fr 1.9fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        ". hero-story ."
        ". . .";
    grid-area: hero-top-left;
    width: 40em;
    height: 20em;
}

.hero-story {
    grid-area: hero-story;
}